{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
    <h2>About the app</h2>

    <p>
        Information about the application.
    </p>
    <img class="ui medium image" src="map.png">

<div class="ui four statistics" style="margin-top: 1em;">
    {{#with info}}
    <div class="statistic">
        <div class="value">
            <i class="cat icon"></i>
        </div>
        <div class="label">
            App Title: <br>
            {{appTitle}}
        </div>
    </div>

    <div class="statistic">
        <div class="value">
            <i class="map pin icon"></i>
        </div>
        <div class="label">
            Located at: <br>
            {{location}}
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="user icon"></i>
        </div>
        <div class="label">
            Created by: <br>
            {{creators.0.name}}
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="file icon"></i>
        </div>
        <div class="label">
            App version: <br>
            {{version}}
        </div>
    </div>
    
    
    {{/with}}
  </div>
</section>
