{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
    <h2>About the app</h2>

    <p>
        Information about the application.
    </p>
    <img class="ui medium image" src="map.png">
    
    
    <div class="ui fluid statistics">
        <div class="statistic">
            <div class="label">
                Visits
            </div>
            <div class="value">
                160
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Location
            </div>
            <div class="value">
                <i class="building icon"></i>Amersfoort
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Developer:
            </div>
            <div class="value">
                Dmitrijs
            </div>
        </div>
    </div>
    
  
</section>
