{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h2>Cat finder app</h2>

  <p>
    App is used to find different cats in their respective groups.
  </p>
  <div class="ui segment">
     <img class="ui fluid image" src="maincat.jpg">
  </div>
  

</section>
